/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Arial-BoldMT';
  src: url('fonts/Arial Bold.ttf');
}

.font-arialBoldMT {
  font-family: 'Arial-BoldMT', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* App-wide text styles specified in React Studio */

.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.0px;
  font-weight: 600;
}
.App .headlineFont * {
  font-size: 19.0px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  min-height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.App .navBar > div {
  margin-top: 7px;
}

@media (min-width: 568px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 768px) {
  .App .navBar {
    height: 75px;
    min-height: 75px;
  }
  .App .navBar > div {
    margin-top: 19px;
  }
}
@media (min-width: 1024px) {
  .App .navBar {
    height: 75px;
    min-height: 75px;
  }
  .App .navBar > div {
    margin-top: 19px;
  }
}
@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.App .marker {
  width: 0px;
  height: 0px;
}

.App .drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.App .drawerOpen {
  transform: translateX(0%);
  transition: 0.3s;
}

.App .drawerClosedLeft {
  transform: translateX(-100%);
  transition: 0.3s;
}

.App .drawerClosedRight {
  transform: translateX(100%);
  transition: 0.3s;
}

.App .drawerContent {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.App .drawerContent > * {
  height: 100%;
}

.StartScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


.StartScreen .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.StartScreen .elButton button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



  .StartScreen > .layoutFlow > .elButton {
    line-height: 616px;
    position: relative;
    margin-top: 0px;
    width: 744px;
    margin-left: -36px;
  }
  .StartScreen > .layoutFlow > .elButton > * { 
  width: 744px;
  height: 616px;
  }
  


  .StartScreen > .screenFgContainer > .foreground > .elRectangle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 620px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elRectangle2 {
    position: absolute;
    left: 378px;
    top: 80px;
    width: 36px;
    height: 1px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elTextBlock4 {
    position: absolute;
    left: 223px;
    top: 325px;
    width: 1px;
    height: 22px;
  }


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elTest_concert1 {
    position: absolute;
    margin-top: 0px;
    margin-left: -6px;
    margin-right: -9px;
    width: calc(100.0% - -15px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTest_concert1 > * { 
    width: 100%;
  height: 430px;
  }
  
  .flowRow_Screen2_elTest_concert1_707178 { 
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elTest_concert1 {
    position: absolute;
    margin-top: 0px;
    margin-left: -6px;
    margin-right: -9px;
    width: calc(100.0% - -15px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTest_concert1 > * { 
    width: 100%;
  height: 430px;
  }
  
  .flowRow_Screen2_elTest_concert1_707178 { 
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elTest_concert1 {
    position: absolute;
    margin-top: 0px;
    margin-left: -6px;
    margin-right: -9px;
    width: calc(100.0% - -15px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTest_concert1 > * { 
    width: 100%;
  height: 427px;
  }
  
  .flowRow_Screen2_elTest_concert1_707178 { 
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elTest_concert1 {
    position: absolute;
    margin-top: 0px;
    margin-left: -6px;
    margin-right: -9px;
    width: calc(100.0% - -15px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTest_concert1 > * { 
    width: 100%;
  height: 427px;
  }
  
  .flowRow_Screen2_elTest_concert1_707178 { 
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elConcert2 {
    position: absolute;
    top: 0px;
    margin-left: -32px;
    margin-right: 0px;
    width: calc(100.0% - -32px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elConcert2 > * { 
    width: 100%;
  height: 428px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elConcert2 {
    position: absolute;
    top: 0px;
    margin-left: -32px;
    margin-right: 0px;
    width: calc(100.0% - -32px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elConcert2 > * { 
    width: 100%;
  height: 428px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elConcert2 {
    position: absolute;
    top: 0px;
    margin-left: -32px;
    margin-right: 0px;
    width: calc(100.0% - -32px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elConcert2 > * { 
    width: 100%;
  height: 426px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elConcert2 {
    position: absolute;
    top: 0px;
    margin-left: -32px;
    margin-right: 0px;
    width: calc(100.0% - -32px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elConcert2 > * { 
    width: 100%;
  height: 426px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock6 {
    overflow: hidden;
    position: absolute;
    top: 587px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock6 > * { 
  margin-left: auto;
  width: 263px;
  margin-right: calc(10.0% + -146px);
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock6 {
    overflow: hidden;
    position: absolute;
    top: 587px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock6 > * { 
  margin-left: auto;
  width: 263px;
  margin-right: calc(10.0% + -146px);
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock6 {
    overflow: hidden;
    position: absolute;
    top: 583px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock6 > * { 
  margin-left: auto;
  width: 262px;
  margin-right: calc(10.0% + -145px);
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock6 {
    overflow: hidden;
    position: absolute;
    top: 583px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock6 > * { 
  margin-left: auto;
  width: 262px;
  margin-right: calc(10.0% + -145px);
  }
  
}

.Screen2 .elBuyTickets button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 3.4px;
}

.Screen2 .elBuyTickets button:focus {
  box-shadow: 0 0 5px rgba(0, 149, 214, 0.5000);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elBuyTickets {
    line-height: 102px;
    position: absolute;
    top: 660px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elBuyTickets > * { 
  margin-left: auto;
  width: 145px;
  margin-right: calc(10.0% + -28px);
  height: 102px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elBuyTickets {
    line-height: 102px;
    position: absolute;
    top: 660px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elBuyTickets > * { 
  margin-left: auto;
  width: 145px;
  margin-right: calc(10.0% + -28px);
  height: 102px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elBuyTickets {
    line-height: 101px;
    position: absolute;
    top: 656px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elBuyTickets > * { 
  margin-left: auto;
  width: 144px;
  margin-right: calc(10.0% + -28px);
  height: 101px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elBuyTickets {
    line-height: 101px;
    position: absolute;
    top: 656px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elBuyTickets > * { 
  margin-left: auto;
  width: 144px;
  margin-right: calc(10.0% + -28px);
  height: 101px;
  }
  
}

.Screen2 .elButtonCopy6 button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elButtonCopy6 button:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1250);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy6 {
    position: absolute;
    top: 370px;
    width: 95px;
    margin-left: calc(50.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy6 > * { 
  width: 95px;
  height: 62px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy6 {
    position: absolute;
    top: 370px;
    width: 95px;
    margin-left: calc(50.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy6 > * { 
  width: 95px;
  height: 62px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy6 {
    position: absolute;
    top: 368px;
    width: 94px;
    margin-left: calc(50.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy6 > * { 
  width: 94px;
  height: 62px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy6 {
    position: absolute;
    top: 368px;
    width: 94px;
    margin-left: calc(50.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy6 > * { 
  width: 94px;
  height: 62px;
  }
  
}

.Screen2 .elV3rdImage button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elV3rdImage button:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1250);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elV3rdImage {
    position: absolute;
    top: 370px;
    width: 95px;
    margin-left: calc(45.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV3rdImage > * { 
  width: 95px;
  height: 62px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elV3rdImage {
    position: absolute;
    top: 370px;
    width: 95px;
    margin-left: calc(45.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV3rdImage > * { 
  width: 95px;
  height: 62px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elV3rdImage {
    position: absolute;
    top: 368px;
    width: 94px;
    margin-left: calc(45.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV3rdImage > * { 
  width: 94px;
  height: 62px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elV3rdImage {
    position: absolute;
    top: 368px;
    width: 94px;
    margin-left: calc(45.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV3rdImage > * { 
  width: 94px;
  height: 62px;
  }
  
}

.Screen2 .elV4thButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elV4thButton button:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1250);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elV4thButton {
    position: absolute;
    top: 370px;
    width: 95px;
    margin-left: calc(55.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV4thButton > * { 
  width: 95px;
  height: 62px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elV4thButton {
    position: absolute;
    top: 370px;
    width: 95px;
    margin-left: calc(55.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV4thButton > * { 
  width: 95px;
  height: 62px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elV4thButton {
    position: absolute;
    top: 368px;
    width: 94px;
    margin-left: calc(55.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV4thButton > * { 
  width: 94px;
  height: 62px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elV4thButton {
    position: absolute;
    top: 368px;
    width: 94px;
    margin-left: calc(55.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV4thButton > * { 
  width: 94px;
  height: 62px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock7 {
    overflow: hidden;
    position: absolute;
    top: 856px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock7 > * { 
  margin-left: auto;
  width: 422px;
  margin-right: -69px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock7 {
    overflow: hidden;
    position: absolute;
    top: 856px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock7 > * { 
  margin-left: auto;
  width: 422px;
  margin-right: -69px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock7 {
    overflow: hidden;
    position: absolute;
    top: 850px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock7 > * { 
  margin-left: auto;
  width: 420px;
  margin-right: -69px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock7 {
    overflow: hidden;
    position: absolute;
    top: 850px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock7 > * { 
  margin-left: auto;
  width: 420px;
  margin-right: -69px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elRectangle2 {
    position: absolute;
    top: 0px;
    width: 2px;
    margin-left: 994px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elRectangle2 > * { 
  width: 2px;
  height: 1px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elRectangle2 {
    position: absolute;
    top: 0px;
    width: 2px;
    margin-left: 994px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elRectangle2 > * { 
  width: 2px;
  height: 1px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elRectangle2 {
    position: absolute;
    top: 0px;
    width: 2px;
    margin-left: 988px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elRectangle2 > * { 
  width: 2px;
  height: 1px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elRectangle2 {
    position: absolute;
    top: 0px;
    width: 2px;
    margin-left: 988px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elRectangle2 > * { 
  width: 2px;
  height: 1px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elRectangle {
    position: absolute;
    top: 0px;
    width: 1px;
    margin-left: 697px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elRectangle > * { 
  width: 1px;
  height: 3px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elRectangle {
    position: absolute;
    top: 0px;
    width: 1px;
    margin-left: 697px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elRectangle > * { 
  width: 1px;
  height: 3px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elRectangle {
    position: absolute;
    top: 0px;
    width: 1px;
    margin-left: 692px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elRectangle > * { 
  width: 1px;
  height: 3px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elRectangle {
    position: absolute;
    top: 0px;
    width: 1px;
    margin-left: 692px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elRectangle > * { 
  width: 1px;
  height: 2px;
  }
  
}

.Screen2 .elV1stButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elV1stButton button:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2125);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elV1stButton {
    position: absolute;
    top: 370px;
    width: 95px;
    margin-left: calc(40.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV1stButton > * { 
  width: 95px;
  height: 62px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elV1stButton {
    position: absolute;
    top: 370px;
    width: 95px;
    margin-left: calc(40.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV1stButton > * { 
  width: 95px;
  height: 62px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elV1stButton {
    position: absolute;
    top: 368px;
    width: 94px;
    margin-left: calc(40.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV1stButton > * { 
  width: 94px;
  height: 62px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elV1stButton {
    position: absolute;
    top: 368px;
    width: 94px;
    margin-left: calc(40.0% + 5px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elV1stButton > * { 
  width: 94px;
  height: 62px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock5 {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    margin-left: 190px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock5 > * { 
  width: 0px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock5 {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    margin-left: 190px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock5 > * { 
  width: 0px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock5 {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    margin-left: 188px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock5 > * { 
  width: 0px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock5 {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    margin-left: 188px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock5 > * { 
  width: 0px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock4 {
    overflow: hidden;
    position: absolute;
    top: 654px;
    width: 641px;
    margin-left: calc(10.0% + -55px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock4 > * { 
  width: 641px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock4 {
    overflow: hidden;
    position: absolute;
    top: 654px;
    width: 641px;
    margin-left: calc(10.0% + -55px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock4 > * { 
  width: 641px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock4 {
    overflow: hidden;
    position: absolute;
    top: 650px;
    width: 637px;
    margin-left: calc(10.0% + -54px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock4 > * { 
  width: 637px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock4 {
    overflow: hidden;
    position: absolute;
    top: 650px;
    width: 637px;
    margin-left: calc(10.0% + -54px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock4 > * { 
  width: 637px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock3 {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    margin-left: 270px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock3 > * { 
  width: 0px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock3 {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    margin-left: 270px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock3 > * { 
  width: 0px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock3 {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    margin-left: 268px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock3 > * { 
  width: 0px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock3 {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 0px;
    margin-left: 268px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock3 > * { 
  width: 0px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock2 {
    overflow: hidden;
    position: absolute;
    top: 542px;
    width: 454px;
    margin-left: calc(10.0% + 86px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock2 > * { 
  width: 454px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock2 {
    overflow: hidden;
    position: absolute;
    top: 542px;
    width: 454px;
    margin-left: calc(10.0% + 86px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock2 > * { 
  width: 454px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock2 {
    overflow: hidden;
    position: absolute;
    top: 538px;
    width: 452px;
    margin-left: calc(10.0% + 85px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock2 > * { 
  width: 452px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock2 {
    overflow: hidden;
    position: absolute;
    top: 538px;
    width: 452px;
    margin-left: calc(10.0% + 85px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock2 > * { 
  width: 452px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock {
    overflow: hidden;
    position: absolute;
    top: 448px;
    width: 688px;
    margin-left: calc(10.0% + -64px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock > * { 
  width: 688px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock {
    overflow: hidden;
    position: absolute;
    top: 448px;
    width: 688px;
    margin-left: calc(10.0% + -64px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock > * { 
  width: 688px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock {
    overflow: hidden;
    position: absolute;
    top: 445px;
    width: 684px;
    margin-left: calc(10.0% + -63px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock > * { 
  width: 684px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock {
    overflow: hidden;
    position: absolute;
    top: 445px;
    width: 684px;
    margin-left: calc(10.0% + -63px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elTextBlock > * { 
  width: 684px;
  }
  
}

.Screen2 .elButtonCopy button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elButtonCopy button:focus {
  box-shadow: 0 0 6px transparent;
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy {
    line-height: 137px;
    position: absolute;
    top: 110px;
    width: 151px;
    margin-left: -19px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy > * { 
  width: 151px;
  height: 137px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy {
    line-height: 137px;
    position: absolute;
    top: 110px;
    width: 151px;
    margin-left: -19px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy > * { 
  width: 151px;
  height: 137px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy {
    line-height: 136px;
    position: absolute;
    top: 110px;
    width: 151px;
    margin-left: -19px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy > * { 
  width: 151px;
  height: 136px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy {
    line-height: 136px;
    position: absolute;
    top: 110px;
    width: 151px;
    margin-left: -19px;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy > * { 
  width: 151px;
  height: 136px;
  }
  
}

.Screen2 .elButton2 button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elButton2 button:focus {
  box-shadow: 0 0 6px rgba(0, 149, 214, 0.2500);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elButton2 {
    position: absolute;
    top: 451px;
    width: 233px;
    margin-left: calc(20.0% + 205px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButton2 > * { 
  width: 233px;
  height: 133px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elButton2 {
    position: absolute;
    top: 450px;
    width: 233px;
    margin-left: calc(20.0% + 205px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButton2 > * { 
  width: 233px;
  height: 133px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elButton2 {
    position: absolute;
    top: 448px;
    width: 231px;
    margin-left: calc(20.0% + 204px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButton2 > * { 
  width: 231px;
  height: 132px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elButton2 {
    position: absolute;
    top: 448px;
    width: 231px;
    margin-left: calc(20.0% + 204px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButton2 > * { 
  width: 231px;
  height: 132px;
  }
  
}

.Screen2 .elButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elButton button:focus {
  box-shadow: 0 0 6px rgba(0, 149, 214, 0.2500);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elButton {
    position: absolute;
    top: 452px;
    width: 233px;
    margin-left: calc(20.0% + 206px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButton > * { 
  width: 233px;
  height: 131px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elButton {
    position: absolute;
    top: 452px;
    width: 233px;
    margin-left: calc(20.0% + 206px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButton > * { 
  width: 233px;
  height: 131px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elButton {
    position: absolute;
    top: 450px;
    width: 232px;
    margin-left: calc(20.0% + 205px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButton > * { 
  width: 232px;
  height: 130px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elButton {
    position: absolute;
    top: 450px;
    width: 232px;
    margin-left: calc(20.0% + 205px);
  }
  .Screen2 > .layoutFlow > .flowRow > .elButton > * { 
  width: 232px;
  height: 130px;
  }
  
}

.Screen2 .elButtonCopy2 button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elButtonCopy2 button:focus {
  box-shadow: 0 0 6px transparent;
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy2 {
    line-height: 137px;
    position: absolute;
    top: 110px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy2 > * { 
  margin-left: auto;
  width: 151px;
  margin-right: -16px;
  height: 137px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy2 {
    line-height: 137px;
    position: absolute;
    top: 110px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy2 > * { 
  margin-left: auto;
  width: 151px;
  margin-right: -16px;
  height: 137px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy2 {
    line-height: 136px;
    position: absolute;
    top: 110px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy2 > * { 
  margin-left: auto;
  width: 151px;
  margin-right: -16px;
  height: 136px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy2 {
    line-height: 136px;
    position: absolute;
    top: 110px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy2 > * { 
  margin-left: auto;
  width: 151px;
  margin-right: -16px;
  height: 136px;
  }
  
}

.Screen2 .elButton4 button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elButton4 button:focus {
  box-shadow: 0 0 6px rgba(0, 149, 214, 0.2500);
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .elButton4 {
    position: relative;
    margin-top: 846px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .elButton4 > * { 
  margin-left: auto;
  width: 176px;
  margin-right: 304px;
  height: 75px;
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .elButton4 {
    position: relative;
    margin-top: 846px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .elButton4 > * { 
  margin-left: auto;
  width: 176px;
  margin-right: 304px;
  height: 75px;
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .elButton4 {
    position: relative;
    margin-top: 842px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .elButton4 > * { 
  margin-left: auto;
  width: 175px;
  margin-right: 302px;
  height: 75px;
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .elButton4 {
    position: relative;
    margin-top: 842px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .elButton4 > * { 
  margin-left: auto;
  width: 175px;
  margin-right: 302px;
  height: 74px;
  }
  
}

.Screen2 .elButtonCopy3 button {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.Screen2 .elButtonCopy3 button:focus {
  box-shadow: 0 0 6px transparent;
  outline: none;
}



/* Narrowest size for this element's responsive layout */
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy3 {
    line-height: 76px;
    position: absolute;
    margin-top: -884px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy3 > * { 
  margin-left: auto;
  width: 98px;
  margin-right: 6px;
  height: 76px;
  }
  
  .flowRow_Screen2_elButtonCopy3_948814 { 
  }
  
@media (min-width: 568px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy3 {
    line-height: 76px;
    position: absolute;
    margin-top: -884px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy3 > * { 
  margin-left: auto;
  width: 98px;
  margin-right: 6px;
  height: 76px;
  }
  
  .flowRow_Screen2_elButtonCopy3_948814 { 
  }
  
}
@media (min-width: 768px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy3 {
    line-height: 75px;
    position: absolute;
    margin-top: -879px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy3 > * { 
  margin-left: auto;
  width: 97px;
  margin-right: 6px;
  height: 75px;
  }
  
  .flowRow_Screen2_elButtonCopy3_948814 { 
  }
  
}
@media (min-width: 1024px) {
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy3 {
    line-height: 75px;
    position: absolute;
    margin-top: -879px;
    width: 100%;
  }
  .Screen2 > .layoutFlow > .flowRow > .elButtonCopy3 > * { 
  margin-left: auto;
  width: 97px;
  margin-right: 6px;
  height: 75px;
  }
  
  .flowRow_Screen2_elButtonCopy3_948814 { 
  }
  
}

