/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/Roboto-Regular.ttf');
}

.font-robotoRegular {
  font-family: 'Roboto-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'SFUIText-Regular';
  src: url('fonts/BF396DF7D0C0-Regular.otf');
}

.font-SFUITextRegular {
  font-family: 'SFUIText-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.2px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

@media (display-mode: standalone) {
  .App {
    user-select: none;
  }
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* System font classes */

.App .systemFontRegular {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
.App .systemFontBold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
}
.App .systemFontItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-style: italic;
}
.App .systemFontBoldItalic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: italic;
}

/* App-wide text styles specified in React Studio */

.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.0px;
  font-weight: 600;
}
.App .headlineFont * {
  font-size: 19.0px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  min-height: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  cursor: pointer;
}

.App .navBar > div {
  margin-top: 7px;
}

@media (min-width: 568px) {
  .App .navBar {
    height: 50px;
    min-height: 50px;
  }
  .App .navBar > div {
    margin-top: 7px;
  }
}
@media (min-width: 768px) {
  .App .navBar {
    height: 75px;
    min-height: 75px;
  }
  .App .navBar > div {
    margin-top: 19px;
  }
}
@media (min-width: 1024px) {
  .App .navBar {
    height: 75px;
    min-height: 75px;
  }
  .App .navBar > div {
    margin-top: 19px;
  }
}
@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

.App .marker {
  width: 0px;
  height: 0px;
}

.App .drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.App .drawerOpen {
  transform: translateX(0%);
  transition: 0.3s;
}

.App .drawerClosedLeft {
  transform: translateX(-100%);
  transition: 0.3s;
}

.App .drawerClosedRight {
  transform: translateX(100%);
  transition: 0.3s;
}

.App .drawerContent {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

.App .drawerContent > * {
  height: 100%;
}

.UploadPhotoPop2Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .UploadPhotoPop2Screen > .layoutFlow > .flowRow > .state0_elRyan {
    position: absolute;
    margin-top: 143px;
    width: 361px;
    margin-left: 78px;
  }
  .UploadPhotoPop2Screen > .layoutFlow > .flowRow > .state0_elRyan > * { 
  width: 361px;
  height: 324px;
  }
  
  .flowRow_UploadPhotoPop2Screen_state0_elRyan_92175 { 
  }
  


  .UploadPhotoPop2Screen > .layoutFlow > .flowRow > .state0_elTextBlock3 {
    position: absolute;
    top: 408px;
    width: 347px;
    margin-left: 608px;
  }
  .UploadPhotoPop2Screen > .layoutFlow > .flowRow > .state0_elTextBlock3 > * { 
  width: 347px;
  }
  


  .UploadPhotoPop2Screen > .layoutFlow > .flowRow > .state0_elRectangle {
    position: absolute;
    top: 180px;
    width: 400px;
    margin-left: 575px;
  }
  .UploadPhotoPop2Screen > .layoutFlow > .flowRow > .state0_elRectangle > * { 
  width: 400px;
  height: 198px;
  }
  


  .UploadPhotoPop2Screen > .layoutFlow > .flowRow > .state0_elTextBlock2 {
    position: absolute;
    top: 209px;
    width: 323px;
    margin-left: 611px;
  }
  .UploadPhotoPop2Screen > .layoutFlow > .flowRow > .state0_elTextBlock2 > * { 
  width: 323px;
  }
  

.UploadPhotoPop2Screen .state0_elMyQuestionnaireButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 1.8px;
}



  .UploadPhotoPop2Screen > .layoutFlow > .state0_elMyQuestionnaireButton {
    position: relative;
    margin-top: 150px;
    width: 113px;
    margin-left: 1033px;
  }
  .UploadPhotoPop2Screen > .layoutFlow > .state0_elMyQuestionnaireButton > * { 
  width: 113px;
  height: 27px;
  }
  


  .UploadPhotoPop2Screen > .layoutFlow > .state0_elTextBlock {
    position: relative;
    margin-top: -24px;
    width: 134px;
    margin-left: 1032px;
  }
  .UploadPhotoPop2Screen > .layoutFlow > .state0_elTextBlock > * { 
  width: 134px;
  }
  


  .UploadPhotoPop2Screen > .layoutFlow > .state0_elRectangle2 {
    position: relative;
    margin-top: 230px;
    width: 412px;
    margin-left: 561px;
  }
  .UploadPhotoPop2Screen > .layoutFlow > .state0_elRectangle2 > * { 
  width: 412px;
  height: 265px;
  }
  


  .UploadPhotoPop2Screen > .screenFgContainer > .foreground > .state0_elLine {
    position: absolute;
    left: -1280px;
    right: 0px;
    top: 102px;
    width: calc(100.0% - -1280px - 0px);
    height: 9px;
  }


  .UploadPhotoPop2Screen > .screenFgContainer > .foreground > .state0_elCard {
    position: absolute;
    left: 346px;
    top: 205px;
    width: 597px;
    height: 329px;
  }

.UploadPhotoPop2Screen .state0_elFab {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.UploadPhotoPop2Screen .state0_elFab:focus {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2125);
  outline: none;
}



  .UploadPhotoPop2Screen > .screenFgContainer > .foreground > .state0_elFab {
    position: absolute;
    left: 619px;
    top: 491px;
    width: 42px;
    height: 43px;
  }


  .UploadPhotoPop2Screen > .screenFgContainer > .foreground > .state0_elCamera {
    position: absolute;
    left: 410px;
    top: 249px;
    width: 461px;
    height: 241px;
  }

.UploadPhotoPop2Screen .state0_elClose {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 1.8px;
}

.UploadPhotoPop2Screen .state0_elClose:focus {
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.5000);
  outline: none;
}



  .UploadPhotoPop2Screen > .screenFgContainer > .foreground > .state0_elClose {
    position: absolute;
    left: 888px;
    top: 221px;
    width: 41px;
    height: 50px;
  }


  .UploadPhotoPop2Screen > .screenFgContainer > .foreground > .state0_elLogo {
    position: absolute;
    left: 10px;
    top: 0px;
    width: 475px;
    height: 81px;
  }

.UploadPhotoPop2Screen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}


.UploadPhotoPopScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .UploadPhotoPopScreen > .layoutFlow > .flowRow > .elRyan {
    position: absolute;
    margin-top: 143px;
    width: 361px;
    margin-left: 78px;
  }
  .UploadPhotoPopScreen > .layoutFlow > .flowRow > .elRyan > * { 
  width: 361px;
  height: 324px;
  }
  
  .flowRow_UploadPhotoPopScreen_elRyan_572490 { 
  }
  


  .UploadPhotoPopScreen > .layoutFlow > .flowRow > .elTextBlock3 {
    position: absolute;
    top: 408px;
    width: 347px;
    margin-left: 608px;
  }
  .UploadPhotoPopScreen > .layoutFlow > .flowRow > .elTextBlock3 > * { 
  width: 347px;
  }
  


  .UploadPhotoPopScreen > .layoutFlow > .flowRow > .elRectangle {
    position: absolute;
    top: 180px;
    width: 400px;
    margin-left: 575px;
  }
  .UploadPhotoPopScreen > .layoutFlow > .flowRow > .elRectangle > * { 
  width: 400px;
  height: 198px;
  }
  


  .UploadPhotoPopScreen > .layoutFlow > .flowRow > .elTextBlock2 {
    position: absolute;
    top: 209px;
    width: 323px;
    margin-left: 611px;
  }
  .UploadPhotoPopScreen > .layoutFlow > .flowRow > .elTextBlock2 > * { 
  width: 323px;
  }
  

.UploadPhotoPopScreen .elMyQuestionnaireButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 1.8px;
}



  .UploadPhotoPopScreen > .layoutFlow > .elMyQuestionnaireButton {
    position: relative;
    margin-top: 150px;
    width: 113px;
    margin-left: 1033px;
  }
  .UploadPhotoPopScreen > .layoutFlow > .elMyQuestionnaireButton > * { 
  width: 113px;
  height: 27px;
  }
  


  .UploadPhotoPopScreen > .layoutFlow > .elTextBlock {
    position: relative;
    margin-top: -24px;
    width: 134px;
    margin-left: 1032px;
  }
  .UploadPhotoPopScreen > .layoutFlow > .elTextBlock > * { 
  width: 134px;
  }
  


  .UploadPhotoPopScreen > .layoutFlow > .elRectangle2 {
    position: relative;
    margin-top: 230px;
    width: 412px;
    margin-left: 561px;
  }
  .UploadPhotoPopScreen > .layoutFlow > .elRectangle2 > * { 
  width: 412px;
  height: 265px;
  }
  


  .UploadPhotoPopScreen > .screenFgContainer > .foreground > .elLine {
    position: absolute;
    left: -1280px;
    right: 0px;
    top: 102px;
    width: calc(100.0% - -1280px - 0px);
    height: 9px;
  }


  .UploadPhotoPopScreen > .screenFgContainer > .foreground > .elCard {
    position: absolute;
    left: 346px;
    top: 205px;
    width: 597px;
    height: 329px;
  }

.UploadPhotoPopScreen .elUpload {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 1.8px;
}

.UploadPhotoPopScreen .elUpload:focus {
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.5000);
  outline: none;
}



  .UploadPhotoPopScreen > .screenFgContainer > .foreground > .elUpload {
    position: absolute;
    left: 586px;
    top: 310px;
    width: 135px;
    height: 92px;
  }

.UploadPhotoPopScreen .elClose {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 1.8px;
}

.UploadPhotoPopScreen .elClose:focus {
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.5000);
  outline: none;
}



  .UploadPhotoPopScreen > .screenFgContainer > .foreground > .elClose {
    position: absolute;
    left: 888px;
    top: 221px;
    width: 41px;
    height: 50px;
  }


  .UploadPhotoPopScreen > .screenFgContainer > .foreground > .elLogo {
    position: absolute;
    left: 10px;
    top: 0px;
    width: 475px;
    height: 81px;
  }


  .UploadPhotoPopScreen > .screenFgContainer > .foreground > .elTextBlock4 {
    overflow: hidden;
    position: absolute;
    left: 596px;
    top: 413px;
    width: 142px;
    height: 33px;
  }

.StartScreen {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}



  .StartScreen > .layoutFlow > .flowRow > .elRyan {
    position: absolute;
    margin-top: 143px;
    width: 361px;
    margin-left: 78px;
  }
  .StartScreen > .layoutFlow > .flowRow > .elRyan > * { 
  width: 361px;
  height: 324px;
  }
  
  .flowRow_StartScreen_elRyan_639361 { 
  }
  


  .StartScreen > .layoutFlow > .flowRow > .elTextBlock3 {
    position: absolute;
    top: 408px;
    width: 347px;
    margin-left: 608px;
  }
  .StartScreen > .layoutFlow > .flowRow > .elTextBlock3 > * { 
  width: 347px;
  }
  


  .StartScreen > .layoutFlow > .flowRow > .elRectangle {
    position: absolute;
    top: 180px;
    width: 400px;
    margin-left: 575px;
  }
  .StartScreen > .layoutFlow > .flowRow > .elRectangle > * { 
  width: 400px;
  height: 198px;
  }
  


  .StartScreen > .layoutFlow > .flowRow > .elTextBlock2 {
    position: absolute;
    top: 209px;
    width: 323px;
    margin-left: 611px;
  }
  .StartScreen > .layoutFlow > .flowRow > .elTextBlock2 > * { 
  width: 323px;
  }
  

.StartScreen .elMyQuestionnaireButton button {
  cursor: pointer;
  border: 0.0px solid transparent;
}



  .StartScreen > .layoutFlow > .elMyQuestionnaireButton {
    position: relative;
    margin-top: 150px;
    width: 113px;
    margin-left: 1033px;
  }
  .StartScreen > .layoutFlow > .elMyQuestionnaireButton > * { 
  width: 113px;
  height: 27px;
  }
  


  .StartScreen > .layoutFlow > .elTextBlock {
    position: relative;
    margin-top: -24px;
    width: 134px;
    margin-left: 1032px;
  }
  .StartScreen > .layoutFlow > .elTextBlock > * { 
  width: 134px;
  }
  


  .StartScreen > .layoutFlow > .elRectangle2 {
    position: relative;
    margin-top: 230px;
    width: 412px;
    margin-left: 561px;
  }
  .StartScreen > .layoutFlow > .elRectangle2 > * { 
  width: 412px;
  height: 265px;
  }
  


  .StartScreen > .screenFgContainer > .foreground > .elLine {
    position: absolute;
    left: -1280px;
    right: 0px;
    top: 102px;
    width: calc(100.0% - -1280px - 0px);
    height: 9px;
  }

.StartScreen .elIconButton {
  cursor: pointer;
  border: 0.0px solid transparent;
  border-radius: 1.8px;
}

.StartScreen .elIconButton:focus {
  box-shadow: 0 0 5px rgba(121, 121, 121, 0.5000);
  outline: none;
}



  .StartScreen > .screenFgContainer > .foreground > .elIconButton {
    position: absolute;
    left: 1229px;
    top: 40px;
    width: 32px;
    height: 28px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elLogo {
    position: absolute;
    left: 10px;
    top: 0px;
    width: 475px;
    height: 81px;
  }

.StartScreen .elRecommended {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elRecommended:focus {
  box-shadow: 0 0 6px rgba(126, 180, 255, 0.2500);
  outline: none;
}



  .StartScreen > .screenFgContainer > .foreground > .elRecommended {
    position: absolute;
    left: 616px;
    top: 0px;
    width: 155px;
    height: 109px;
  }


  .StartScreen > .screenFgContainer > .foreground > .elUsername {
    position: absolute;
    left: 1102px;
    top: 47px;
    width: 131px;
    height: 27px;
  }

.StartScreen .elExplore {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elExplore:focus {
  box-shadow: 0 0 6px rgba(126, 180, 255, 0.2500);
  outline: none;
}



  .StartScreen > .screenFgContainer > .foreground > .elExplore {
    position: absolute;
    left: 807px;
    top: 0px;
    width: 94px;
    height: 109px;
  }

.StartScreen .elMyEvents {
  cursor: pointer;
  border: 0.0px solid transparent;
}

.StartScreen .elMyEvents:focus {
  box-shadow: 0 0 6px rgba(126, 180, 255, 0.2500);
  outline: none;
}



  .StartScreen > .screenFgContainer > .foreground > .elMyEvents {
    position: absolute;
    left: 927px;
    top: 0px;
    width: 126px;
    height: 109px;
  }

