.inputBar {
	content: text;
	width: 40%;
	min-width: 50px;
	height: 30px;
	font-size: 18px;
	border: 2px;
	border-color: #adb7ca;
	border-style: solid;
	border-radius: 5px;
	padding-left: 10px;
	position: absolute;
	left: 50px;
}

::placeholder {
	color: #adb7ca;
}

.searchButton {
	height: 36px;
	border-radius: 5px;
	font-size: 20px;
	border-color: #adb7ca;
	color: #adb7ca;
	border:2px;
	border-style: solid;
	position: relative;
	left: -200px;
} 

.searchButton:hover {
	cursor: pointer;
}

.filterCategory {
	position: absolute;
	left: 20px;
}

.logo {
	width: 40px;
	height: 35px;
	position: absolute;
	left: 0px;
}

.searchGrid {
	position: absolute;
}
