@import url('https://fonts.googleapis.com/css?family=Comfortaa|Karla');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #6ea0ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Comfortaa', cursive;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabs {
	color: white;
	font-family: 'Comfortaa';
	position:fixed;
	right: 0px;
}

.toolbar {
	background-color: #6ea0ff;
  	font-family: 'Comfortaa', sans-serif;
  	justify-content: right;
}

h1 {
	color: black;
	font-family: 'Comfortaa';
	font-size: 36px;
	color: black;
}

h2 {
	color: black;
  	font-family: 'Karla', sans-serif;
  	font-size: 24px;
  	font-weight: bold;
  	text-align: left;
}

h3 {
	color: #666666;
  	font-family: 'Karla', sans-serif;
  	font-size: 18px;
  	text-align: left;
}

h4 {
	color: black;
	font-family: 'Karla';
	font-size: 12px;
	font-weight: bold;
}

p {
	font-family: 'Karla';
	font-size: 12px;
	color: #666666;
}

.bigGrid {
	position: absolute;
	top: 100px;
	left: 20px;
}

.searchGridLine {

}

.mainLogo {
	width: 220px;
	height: auto;
}

.exploreContent {
	position: relative;
	top:75px;
}

.explorePage {
	position: relative;
	top: -20px;
}

.testing {
	position: relative;
	top: 100px;
}

